[submodule "lib/AbstractSensorConfig"]
	path = lib/AbstractSensorConfig
	url = git@github.com:yvanross/ESP-AbstractSensorConfig.git
[submodule "lib/EmailHelper"]
	path = lib/EmailHelper
	url = git@github.com:yvanross/ESP-EmailHelper.git
[submodule "lib/CircularBufferOfUnsignedLong"]
	path = lib/CircularBufferOfUnsignedLong
	url = git@github.com:yvanross/ESP-CircularBufferOfUnsingedLong.git
