[submodule "lib/AbstractSensorConfig"]
	path = lib/AbstractSensorConfig
	url = git@github.com:yvanross/AbstractSensorConfig.git
[submodule "lib/EmailHelper"]
	path = lib/EmailHelper
	url = git@github.com:yvanross/EmailHelper.git
[submodule "lib/CircularBufferOfUnsignedLong"]
	path = lib/CircularBufferOfUnsignedLong
	url = git@github.com:yvanross/CircularBufferOfUnsingedLong.git
