
body {
  background-color: lightblue;
  min-width: 310px;
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
}
h1 {
  color: navy;
  margin-left: 20px;
}
h2 {
  font-family: Arial;
  font-size: 2.5rem;
  text-align: center;
}
content {
  color:blue;
}
